    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% for unpkg in unpkgs -%}
        <script src="https://unpkg.com/{{unpkg}}"></script>
        {% endfor -%}
        {% for stylesheet in stylesheets -%}
        <link rel="stylesheet" href="{{stylesheet}}">
        {% endfor -%}
        <link rel="stylesheet" href="/static/tailwind.css">
        <link rel="stylesheet" href="/static/app.css">
        <title>My App</title>
    </head>
