[project]
name = "{{project}}"
description = 'Sanic-Kit starter project'
readme = "README.md"
requires-python = ">=3.10"
version = "0.1.0"
license = "MIT"
keywords = []
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]
dependencies = ["sanic", "sanic-ext", "jinja2"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
